*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    
}

.container{
    border: 1px solid blue;
    border-width: 5px;
    width: 1400px;
    height: 1400px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

h1{
    text-align: center;
    margin-top: 20px;
}

.big-heading-container{
    border-bottom: 1px solid red;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
}

.paragraph1{
    margin-top: 20px;
    margin-left:39px;
    margin-right: 39px;
    background-color: rgb(177, 206, 226);
    line-height: 100px;
    border-left: 1px solid rgb(0, 149, 255);
    border-width: 5px;
    border-radius: 5px;
}

.paragraph1 p{
    margin-left: 20px;
}

.paragraph2{
    margin-top: 20px;
    margin-left: 39px;
    margin-right: 39px;
    background-color:rgb(235, 208, 188);
    line-height: 50px;
    border-right: 1px solid rgb(240, 161, 105);
    border-width: 5px;
    border-radius: 5px;
    font-family: Helvetica;
    font-size: 35px;
}

.paragraph2 p{
    margin-left: 20px;
}

.Box{
    border: 1px dashed purple;
    border-width: 4px;
    width: 1310px;
    height: 350px;
    margin-top: 20px;
    margin-left: 39px; 
}

h3{
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 40px;
    color: purple;
}

.button-like-box{
    border: 1px solid rgb(127, 5, 5);
    border-width: 10px;
    width: 700px;
    height: 100px;
    margin-left: 45px;
    margin-top: 20px;
    background-color: red;
}

.button-like-box p{
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}




